apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-app
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: "https://github.com/retize-io/retize-chart.git"
      targetRevision: HEAD
      path: app
      helm:
        releaseName: my-app
        valueFiles:
          - $values/values-production.yaml
    - repoURL: "https://github.com/your-org/your-config-repo.git"
      targetRevision: HEAD
      ref: values
  destination:
    server: "https://kubernetes.default.svc"
    namespace: my-app-namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 2
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
